# dependencies
/node_modules
yarn-error.log

# production
.cache
/dist

# IDE
.idea
.vscode

# Data
/database

# Secrets and Config
/config/.env.development
/config/.env.test
/config/.env.production


# next.js
/.next/
/.env.local
/.env.development
/.env.production

# IOS
/.DS_Store
